<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container-fluid text-center" style="font-size: 5rem">
      <p>404 Page Not Found</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
