<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">DAILY JOURNAL</a>
    <nav class="nav">
      <a class="nav-link text-dark" aria-current="page" href="#">HOME</a>
      <a class="nav-link text-dark" href="#">ABOUT US</a>
      <a class="nav-link text-dark" href="#">CONTACT US</a>
    </nav>
  </div>
</nav>
